*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    padding: 10px;
}

.progress-bar.bg-danger{
    background-color: #dc3545;
}
.progress-bar.bg-info{
    background-color: #007bff;
}
.progress-bar.bg-success{
    background-color: #28a745;
}
